[perf_model/mimicos_host]
memory_allocator_type = "reserve_thp"
memory_allocator_name = "reserve_thp_allocator"
page_fault_handler = "default"
number_of_page_sizes = 2
page_size_list = 12, 21

[perf_model/reserve_thp_allocator]
memory_size = 49152 # 48GB memory size
target_fragmentation = 0.00 # 0.0 means that no large page is available, the whole memory is fragmented
kernel_size = 32768           # 1.0 means that the whole memory is available for allocation of large pages
max_order = 12
frag_type = "largepage"
threshold_for_promotion= 0.3


# This configuration is for the THP allocator, which supports both 2MB and 4KB pages.
# The memory size is set to 488GB, with a kernel size of 32GB.  
# The allocator will attempt to maintain a target fragmentation of 0.0, meaning it will 
# fragment the whole memory and not enable large page allocations.
# If the fragmentation is 1.0, it means that the whole memory is available for allocation of large pages.
# The threshold for promotion is set to 0.3, which means that if more than 30% of a 2MB-reserved page is used, 
# the whole area will be promoted to a 2MB page.
