[general]
inst_mode_roi=cache_only

[perf_model/fast_forward]
model=oneipc

[perf_model/fast_forward/oneipc]
interval = 1000       # Barrier quantum in fast-forward in ns, now 1 us
                      # Should be < scheduler/pinned/quantum, else the scheduler only gets called long after the quantum expires
                      # < 1000 ns seems to deadlock, or is very slow. 1000 ns seems as fast as larger values
                      # 1000 ns also reduces spinlock contention problems in Jikes/avrora
include_memory_latency = true
