
# This is a basic MMU configuration file. It is used to configure the MMU model in Sniper.
# We have a with a TLB subsystem and 4 page table walkers.
# The TLB subsystem has two levels of TLBs.

# Simple schematic: 

# 1st level TLBs: L1 TLB (Data for 4KB pages), L1 TLB (Data for 2MB pages), L1 TLB (Instruction)
# 2nd level TLBs: L2 TLB (Unified for 4KB and 2MB pages) 

# On a TLB miss, there are 4 page table walkers that can be used to walk the page table.

[perf_model/mmu]
type="default"
page_table_walkers=4
metadata_table_name="none"

[perf_model/mmu/tlb_subsystem]
number_of_levels = 2
prefetch_enabled = false
pagesize_predictor_name = "superpage"

[perf_model/mmu/pwc]
enabled=true
levels=3
entries=32,32,32
associativity=4,4,4
access_penalty=1
miss_penalty=1

[perf_model/superpage]
small_page_size = 12
large_page_size = 21
table_size = 2


[perf_model/mmu/tlb_level_1]
number_of_tlbs = 3

[perf_model/mmu/tlb_level_1/tlb1]
type = "Data"
size = 64
assoc = 4
page_size = 1
page_size_list = 12
allocate_on_miss = "true"
access_latency = 1

[perf_model/mmu/tlb_level_1/tlb2]
type = "Data"
size = 64
assoc = 4
page_size = 1
page_size_list = 21
allocate_on_miss = "true"
access_latency = 1

[perf_model/mmu/tlb_level_1/tlb3]
type = "Instruction"
size = 64
assoc = 4
page_size = 2
page_size_list = 12,21
allocate_on_miss = "true"
access_latency = 1

[perf_model/mmu/tlb_level_2]
number_of_tlbs = 1

[perf_model/mmu/tlb_level_2/tlb1]
type = "Unified"
size = 512
assoc = 8
page_size=2
page_size_list = 12,21
allocate_on_miss = "false"
access_latency = 12


[perf_model/superpage] # Superpage prediction based on  [Papadopoulou et al. Prediction-based superpage-friendly TLB designs HPCA 2015] https://ieeexplore.ieee.org/document/7056034
small_page_size = 12 # Small page size in bits
large_page_size = 21 # Large page size in bits
table_size = 2 # Number of entries in the superpage table

[perf_model/mmu/tlb_prefetch] 
number_of_pqs = 1 # Number of prefetch queues

[perf_model/tlb_prefetch/pq1]
type = "Data"
size = 1024
access_latency=1
number_of_prefetchers=1
prefetcher_list="asp" # Arbitrary-Stride Prefetcher based on [Vavouliotis et al. Agile TLB Prefetching] 

[perf_model/tlb_prefetch/pq1/stride_prefetcher]
length=2

[perf_model/tlb_prefetch/pq1/asp_prefetcher]
table_size=16
prefetch_threshold=0
extra_prefetch="true"
lookahead=4
degree=3





