#include  ./mmu_configs/mmu_base.cfg
#include  ./pagetable_configs/4_level_radix.cfg
#include  ./dram_configs/ddr4_2400.cfg
#include  ./physical_memory_allocators/reserve_thp.cfg
#include  ./core_configs/beefy.cfg

[general]
total_cores = 1
translation_enabled = "true" # Set to true if we want to enable address translation in each core 
# Set this to false if you want to do "idealistic" studies and measure the performance of the system without any address translation overhead
enable_icache_modeling = false

[perf_model/mimicos_host]
enabled = "false"
page_fault_latency = 0






